docker/data/*
.htaccess
LICENSE.txt
README.txt
administrator/
bin/
cache/
cli/
components/
configuration.php
htaccess.txt
images/
includes/
index.php
language/
layouts/
libraries/
media/
modules/
plugins/
robots.txt.dist
templates/
tmp/
web.config.txt
